.viewBtn:hover {
    background: var(--mantine-color-navy-6) !important;
}
.featuredViewBtn:hover {
    background: var(--mantine-color-blue-6) !important;
}

.authorOverflow {
    text-decoration: none;
    cursor: pointer;
}
.authorOverflow:hover {
    text-decoration: underline;
}