.headerName:hover {
    text-decoration: underline;
    color: var(--mantine-color-navy-6) !important;
}

.headerBtn:hover {
    background: var(--mantine-color-gray-2) !important;
}

.followBtn:hover {
    background: var(--mantine-color-navy-6) !important;
    color: var(--mantine-color-gray-2) !important;
}